<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ürün Yönetimi Stok Takip</title>
    @Styles.Render("~/Content/css")
    <style>
        .carousel-item { height: 32rem; }
    </style>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Ürün Yönetimi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/About">Hakkımızda</a>
                        </li>
                        @Html.Action("_PartialMenu", "Home")
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Contact">İletişim</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Ara</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    
    <main>

        @RenderBody()

        <!-- FOOTER -->
        <footer class="container">
            <p class="float-end"><a href="#">Yukarı Çık</a></p>
            <p>© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
    </main>


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
