@model IEnumerable<Entities.Iletisim>

@{
    ViewBag.Title = "İletişim Formları";
}

<h2>İletişim Formları</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EklenmeTarihi)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" }) |

                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
