@model UrunYonetimiStokTakip.MvcUI.Models.AnasayfaVM
@{
    ViewBag.Title = "Anasayfa";
}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @foreach (var item in Model.Sliders)
        {
            <div class="carousel-item @(item == Model.Sliders.FirstOrDefault() ? "active" : "" )">
                <img src="~/Img/@item.Resim" alt="" class="img-fluid" />
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>@item.Baslik.</h1>
                        <p>@item.Aciklama.</p>
                        <p><a class="btn btn-lg btn-primary" href="@item.Link">İncele</a></p>
                    </div>
                </div>
            </div>
        }
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing mt-5">

    <!-- Three columns of text below the carousel -->
    <div class="row text-center">
        @foreach (var item in Model.Urunler)
        {
            <div class="col-lg-4">
                <img src="~/Img/@item.Resim" alt="" height="100" />
                <h2>@item.UrunAdi</h2>
                <p>@item.Aciklama</p>
                <p><a class="btn btn-secondary" href="/Home/UrunDetay/@item.Id">Detayını gör »</a></p>
            </div>
        }


    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    @foreach (var item in Model.Urunler)
    {
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">@item.UrunAdi</h2>
                <p class="lead">@item.Aciklama</p>
            </div>
            <div class="col-md-5">
                <img src="~/Img/@item.Resim" alt="" class="img-fluid" />
            </div>
        </div>

        <hr class="featurette-divider">
    }


    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->